[submodule "content/posts"]
	path = content/posts
	url = https://github.com/konanok/posts.git
[submodule "images"]
	path = images
	url = https://github.com/konanok/images.git
[submodule "public"]
	path = public
	url = https://github.com/konanok/konanok.github.io.git
